
<div style="margin:0px 0px 50px 1000px;">
<% if(!(user_id)) { %>
 <a href="/login">login!</a>
<a style="margin:0px 0px 0px 0px;"href="/register">Register here!</a>
<% } %>
<% if((user_id)) { %>
<form action="/logout" method='post' >
 <b><%=user_id.email%></b>  <button >Log Out!</button>
 <a href="/urls">Your Links</a>

 <% } %>
 </form>
  <br/>






 </div>

